/* Image de fond, polices spéciales, et conditions générales */
body {
    background-image: url("../IMG/fond2.jpg");
    background-size:cover;
    font-family: 'Press Start 2P', cursive;
    font-size:0;
    margin:0;
    padding:0;
    color:#00ff00;
}






/* Affichage principal, qui sera caché et visible au fur et à mesure des étapes */
#containerAccueil, #containerDifficulty, #containerGameGrid, #score-tab {
    position: relative;
    display: flex;
    flex-direction: column;
    top:30vh;
    margin-left:auto;
    margin-right:auto;
    width:20vw;
    font-weight: bold;
    text-align:center;
    font-size:2.7vh;
}







/* Placement des images des planètes sur le fonc, qui seront utilisées pour certaines actions */
.imgPlanet {
    position:fixed;
    width:8vw;
    height:8vw;
}

#imgMercure {
    top:5vh;
    right:10vw;
}

#imgVenus {
    bottom:15vh;
    right:25vw;
}

#imgJupiters {
    bottom:10vh;
    left:10vw;
}

#imgMars {
    top:30vh;
    left:15vw;
}

#imgTerre {
    top:3vh;
    left:45vw;
}

#imgSaturne {
    bottom:3vh;
    left:35vw;
    width:13vw;
    height:13vw;
}

#imgLune {
    top:4vh;
    left:53vw;
    width:2vw;
    height:2vw;
}

#imgNeptune {
    top:35vh;
    right:27vw;
    width:4vw;
    height:4vw;
}

#imgUranus {
    height:5vw;
    width:5vw;
}

.uranusPos1 {
    position: fixed;
    top:50vh;
    right:3vw; 
}

.uranusPos2 {
    position: fixed;
    top:3vh;
    right:75vw; 
}

.uranusPos3 {
    position: fixed;
    top:85vh;
    right:35vw; 
}




/* Page d'accueil, logo, input pour le pseudo, et premier bouton de validation */
/*#gameLogo {
    position:relative;
    margin-left:auto;
    margin-right:auto;
    width:150px;
    height:150px;
}*/



/* Input de la première page + boutons redondants */
h1 {
    margin-top:-5vh;
    font-size: 2.7vw;
    text-shadow: 3px 3px 4px black;
    text-align:center;
}

#inputPseudo {
    margin-top:1vh;
    margin-bottom:3vh;
    margin-left:auto;
    margin-right:auto;
    border: 3px solid #00ff00;
    border-radius:50px;
    width: 18vw;
    height:6vh;
    text-align:center;
    font-weight:bold;
    background-color:black;
    color:white;
    font-size:1vw;
}

#playInput {
    position: fixed;
    bottom:65vh;
    left:48.5vw;
}

#inputPseudo:focus::placeholder {
    color:transparent;
}

#inputValider, #inputValiderDifficulty, #shipPlacement, #playInput {
    margin-left:auto;
    margin-right:auto;
    border: 3px solid black;
    background-color:#00ff00;
    border-radius: 30px;
    width: 10vw;
    height:5vh;
    font-weight:bold;
    font-size:0.9vw;
}

#inputValider:hover, #inputValiderDifficulty:hover, #shipPlacement:hover, #playInput:hover {
    background-color:black;
    color: #00FF00 ;
    border: 3px solid #00FF00 ;
}









/* Partie relative à la séléction des thèmes de couleurs */
.colorGreen {
    background-color:#00ff00 !important;
    color:black !important;
    border: 3px solid black !important;
}

.colorGreen:hover {
    background-color:black !important;
    color:#00ff00 !important;
    border: 3px solid #00FF00 !important;
}

.borderGreen {
    border: 3px solid #00FF00 !important;
}

.colorRed {
    background-color:#FF0000 !important;
    color:black !important;
    border: 3px solid black !important;
}

.colorRed:hover {
    background-color:black !important;
    color:#ff0000 !important;
    border: 3px solid #FF0000 !important;
}

.borderRed {
    border: 3px solid red !important;
}

.colorPurple {
    background-color:#BA55D3 !important;
    color:black !important;
    border: 3px solid black !important;
}

.colorPurple:hover {
    background-color:black !important;
    color:#BA55D3 !important;
    border: 3px solid#BA55D3 !important;
}

.borderPurple {
    border: 3px solid #BA55D3 !important;
}

.colorOrange {
    background-color:#FF8C00 !important;
    color:black !important;
    border: 3px solid black !important;
}

.colorOrange:hover {
    background-color:black !important;
    color:#ff8C00 !important;
    border: 3px solid #FF8C00 !important;
}

.borderOrange {
    border: 3px solid #FF8C00 !important;
}


.colorBlue {
    background-color:#0000CD !important;
    color:black !important;
    border: 3px solid black !important;
}

.colorBlue:hover {
    background-color:black !important;
    color:#0000CD!important;
    border: 3px solid #0000CD !important;
}

.borderBlue {
    border: 3px solid #0000CD!important;
}

.colorPink {
    background-color:#fd6c9e !important;
    color:black !important;
    border: 3px solid black !important;
}

.colorPink:hover {
    background-color:black !important;
    color:#fd6c9e !important;
    border: 3px solid #fd6c9e !important;
}

.borderPink {
    border: 3px solid #fd6c9e !important;
}

#themeColorSelect {
    display: flex;
    flex-direction:row;
    margin-top:3vh;
    justify-content: space-evenly;
}

#themeColorSelect div {
    width: 4vh;
    height:4vh;
    border: 3px solid black;
}

#themeColorGreen {
    background-color:#00ff00;
}

#themeColorRed {
   background-color:#ff0000;
}

#themeColorPurple {
    background-color:#ba55d3;
 }

 #themeColorOrange {
    background-color:#ff8c00;
 }

 #themeColorBlue {
    background-color:#0000CD; 
 }

.gridGreen {
     border: 1px solid #00FF00 !important;
 }

.gridRed{
    border: 1px solid #FF0000 !important;
}

.gridPurple{
    border: 1px solid #ba55d3 !important;
}

.gridOrange{
    border: 1px solid #ff8C00 !important;
}

.gridBlue{
    border: 1px solid #0000CD !important;
}

.gridPink{
    border: 1px solid #fd6c9e !important;
}











/* Deuxième "page" avec options du jeu, liste déroulantes, choix du mode de jeu, et deuxième 
bouton de validation */
#welcome {
    margin-bottom:5vh;
    font-size:1.7vw;
    text-shadow: 3px 3px 4px black;
}

#playerMode {
    margin-top:3vh;
}

#playerMode1Label {
    font-size: 0.8vw;
}

/*#playerMode2Label {
    font-size:10px;
}*/

#modesDeJeu {
    display:inline-block;
}
#labelPlayerDifficulty {
    margin-top:5vh;
    font-size: 1vw;
    line-height:3vh;
}

#playerDifficulty {
    margin-top:3vh;
    height:3.5vh;
    background-color: black;
    border:2px solid #00FF00;
    color: #00FF00;
    font-weight:bold;
    text-align-last:center;
    font-size:1vw;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url('../IMG/chevron.png');
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
}

#labelPlayerMode {
    margin-bottom:1vh;
    font-size: 1vw;
}

#playerDifficulty {
    margin-bottom:3vh;
}

#inputValiderDifficulty {
    margin-top: 3vh;
}

#computerDifficultyBox {
    display: flex;
    flex-direction: column;
}

#labelComputerDifficulty {
    margin-bottom:3vh;
}

#containerDifficulty {
    top:20vh;
}

/* Partie sur le côté pour afficher l'avatar et le pseudo du joueur */
/*#userCapitaine {
    position: fixed;
    top:7vh;
    left:3vw;
    display:flex;
    flex-direction: column;
    font-weight:bold;
    font-size:18px;
}*/

/*#avatarCapitaine {
    width:7vw;
    height:15vh;  
}*/










/* Définition de la troisième page, celle du jeu, et gestion des deux grilles du joueur et
de l'ordinateur */
#containerGameGrid {
    width: 95vw;
    height: 95vh;
    top: 5vh;
}

.grid {
    width:25vw;
    height:25vw;
    display:flex;
    flex-wrap: wrap;
    background-color :black;
    margin-right:-15vh;    
}

.gridBox {
    width:2.5vw;
    height:2.5vw;
    border: 1px solid #00ff00;
    margin: -1px;
    background-color:black;
}

.spotHidden {
    background-color:black !important;
}

.spotHit {
    background-color:red !important;
}

.spotMiss {
    background-color:white !important;
}

#playerGrid {
    position:fixed;
    top:5vh;
    left:20vw;
}

#computerGrid, #player2Grid {
    position:fixed;
    top:5vh;
    right:20vw;
    background-color: black;
}

#player2Grid {
    background-color:black;
}


/* Div contenant les vaisseaux du joueur à placer */
#shipPlaceBox {
    position:fixed;
    width:30vh;
    height:48vh;
    top:5vh;
    left:3vw;
    background-color: transparent;
}

#shipPlacement {
    position: fixed;
    top: 55vh;
    left: 4.5vw;
}





/* Boites de chat contenant les messages informatifs */
#chat-container {
    width:57vw;
    height:27vh;
    position:absolute;
    bottom:5vh;
    left:22.5vw;
    background-color:black;
}

#chat-box {
    background-color: black;
    border:3px solid #00FF00;
    overflow:scroll;
    font-size:0.8vw;
    height:24vh;
    padding-top:1vh;
    margin-top:-3px;
}

#turn-box {
    position: relative;
    top:0;
    height:3vh;
    border:3px solid #00FF00;
    font-size:1vw;
    padding-bottom:-1vh;
}












/* Classes des vaisseaux pour l'apparence ET pour le placement du joueur */
.Corvette {
    background-color: orange;
}

.Fregate {
    background-color: pink;
}

.Navette {
    background-color: chartreuse;
}

.Cuirasse {
    background-color:gray;
}

.Cargo {
    background-color: white;
}

.Croiseur {
    background-color: aqua;
}

.Vaisseau_de_Commandement {
    background-color: brown;
}

.containerCorvette {
    display:flex;
}

.containerCorvetteVertical {
    display:flex;
    flex-direction: column !important;
}

.containerFregate {
    display:flex;
}

.containerFregateVertical {
    display:flex;
    flex-direction: column !important;
}

.containerNavette {
    display:flex;
}

.containerNavetteVertical {
    display:flex;
    flex-direction: column !important;
}

.containerCuirasse {
    display:flex;
}

.containerCuirasseVertical {
    display:flex;
    flex-direction: column !important;
}

.containerCroiseur {
    display:flex;
}

.containerCroiseurVertical {
    display:flex;
    flex-direction: column !important;
}

.containerCargo {
    display:flex;
}

.containerCargoVertical {
    display:flex;
    flex-direction: column !important;
}

.containerVaisseau_de_Commandement {
    display:flex;
}

.containerVaisseau_de_CommandementVertical {
    display:flex;
    flex-direction: column !important;
}





/* Table des scores et message de gameOver */
#score-tab {
    height:75vh;
    width:75vw;
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:black;
    padding:3vh;
    overflow:scroll;
    border:3px solid #00FF00;
}

#game-over-tab {
    height:15vh;
    width:25vw;
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:black;
    padding:3vh;
    text-align:center;
    border:3px solid #00FF00;
    font-size:1.2vw;

}




/* Blagues et autres */
#ponyJoke {
    position:fixed;
    top:30vh;
    left:40vw;
}



/* Classe hidden utilisée sur toutes les pages pour afficher/cacher les éléments */
.hidden {
    display:none !important;
}